@font-face {
    font-family: segoeuisl;
    src: url('segoeuisl.ttf');
}
html{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    background-color: black;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.barra_superior{
    display: flex;
    color: white;
    background: black;
    width: 100%;
    height: 50px;
    user-select: none;
}
.ajustes{
    position: absolute;
    right: 5px;
    border-radius: 50%;
    top: 5px;
}
.ajustes:hover{
    background-color: #ffffff75;
}
.ajustes:active{
    background-color: #ffffff75;
}
.Menu_ajustes{
    position: absolute;
    height: 200px;
    background: #000000a3;
    right: 0px;
    border: 1px solid rgb(44, 44, 44);
    z-index: 1;
    color: white;
    font-size: 20px;
    user-select: none;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.lista{
    list-style-type: none;
    padding: 0px;
    margin: 10px;
}
.element:active{
    background: #ffffff45;
    outline: 10px solid #ffffff45;
}
.cuerpo{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
}
.chat{
    position: absolute;
    width: 100%;
    min-height: 75px;
    background: black;
    bottom: 0px;
    border: 1px solid;
}
.chat textarea {
    position: absolute;
    width: 60%;
    min-height: 70%;
    left: 5px;
    background: #000000;
    color: white;
    font-size: 100%;
    overflow: hidden;
    padding: 5px;
    font-family: 'segoeuisl';
    resize: none;
    border: none;
    outline: none;
}
.chat textarea:focus-visible{
    outline: none;
}
.chat textarea::placeholder{
    user-select: none;
    color: rgb(112, 112, 112);
}

.send_button{
    position: absolute;
    right: 0px;
}
.send_button:active{
    background: #f0f8ff30;
}
.foto_contacto{
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    top: 10px;
}
.retroceder{
    background: transparent;
    top: 5px;
    border: 1px solid transparent;
    border-radius: 50%;
}
.retroceder:active{
    background: #ffffff3f;
}
table{
    overflow: auto;
    position: absolute;
    height: 100%;
    width: 100%;
    display: block;
    border: 1px solid white;
    color: white;
    font-size: 20px;
}
.table_div{
    position: absolute;
    top: 0px;
    bottom: 127px;
    width: 100%;
}
.trOther{
    position: relative;
    display: flex;
    border: 1px solid antiquewhite;
    padding: 5px;
    width: fit-content;
    max-width: 75%;
    margin-bottom: 5px;
    overflow-wrap: anywhere;
    flex-direction: column;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: black;
    background-color: antiquewhite;
    margin-left: 10px;
}
.trTu{
    position: relative;
    display: flex;
    border: 1px solid antiquewhite;
    padding: 5px;
    width: fit-content;
    max-width: 75%;
    margin-bottom: 5px;
    margin-left: 10px;
    overflow-wrap: anywhere;
    flex-direction: column;
    background: black;
    user-select: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nombre{
    font-size: 13px;
    font-family: system-ui;
    font-style: italic;
    color: gray;
    background-color: #1f1f1f;
}
.fecha{
    text-align: end;
    font-family: system-ui;
    font-size: 13px;
    color: gray;
}
.fechaOther{
    text-align: end;
    font-family: system-ui;
    font-size: 13px;
    color: gray;
}
